@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'custom';

@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }
}

@layer components {
  .app-banner {
    @apply w-screen m-auto relative left-[calc(-50vw_+_50%)];
  }
  .app-container {
    @apply m-auto p-4 lg:max-w-6xl;
  }
}
.header-diagonal {
  background-color: #e6ecf5;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
